/* Общие стили */
body {
    background-color: #f4f4f4;
}

h2 {
    color: #444;
}

/* Хедер */
header .navbar-brand {
    font-weight: bold;
}

/* Сообщения */
.messages {
    max-width: 600px;
    margin: 20px auto;
}

.messages .alert {
    margin: 5px 0;
}

.alert.alert-danger p,
.error-message p {
    margin-bottom: 0 !important;
}

/* Карточки */
.card {
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.card-body {
    padding: 1.5rem;
}

/* Динамические значения */
.dynamic-value {
    font-weight: bold;
    transition: color 0.5s ease, transform 0.5s ease;
}

.dynamic-value.text-warning {
    color: orange;
}

.dynamic-value.text-success {
    color: green;
}

/* Кнопки */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Графики */
.chart-container {
    position: relative;
    height: 400px;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

/* Иконки */
.display-1 {
    font-size: 3rem;
}

/* Форма */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form input[type="password"], form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"], form input[type="password"] {
    padding-left: 10px;
}

div.form-group {
    width: 100%;
}

/* Дополнительные стили */
.font-weight-bold {
    font-weight: bold;
}
