/* Общие стили */
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

h2 {
    color: #444;
}

/* Хедер */
header .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
}
header .navbar-brand:hover, .navbar-brand:focus {
    color: inherit;
    text-decoration: none;
}
.navbar-logo {
    width: 32px;
    height: 32px;
}

.navbar-title {
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

/* Сообщения */
.messages {
    max-width: 600px;
    margin: 20px auto;
}

.messages .alert {
    margin: 5px 0;
}

.alert.alert-danger p,
.error-message p {
    margin-bottom: 0 !important;
}

/* Карточки */
.card {
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.card-body {
    padding: 1.5rem;
}

/* Динамические значения */
.dynamic-value {
    font-weight: bold;
    transition: color 0.5s ease, transform 0.5s ease;
}

.dynamic-value.text-warning {
    color: orange;
}

.dynamic-value.text-success {
    color: green;
}

/* Кнопки */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Графики */
.chart-container {
    position: relative;
    overflow-x: hidden;
}

.chart-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.chart-scrollable canvas {
    display: inline-block;
    width: 100%;
    height: 400px;
}

#weight-change-chart {
    min-width: 100%;
    height: 400px;
}

/* Иконки */
.display-1 {
    font-size: 3rem;
}

/* Форма */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form input[type="password"], form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"], form input[type="password"] {
    padding-left: 10px;
}

div.form-group {
    width: 100%;
}

/* Дополнительные стили */
.font-weight-bold {
    font-weight: bold;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Медиа-запросы для адаптивности */
@media (max-width: 576px) {
    .navbar-title {
        font-size: 1rem;
    }
    .card-title {
        font-size: 1rem;
    }
    .btn {
        font-size: 0.875rem;
    }
    .container {
        padding: 0 15px;
    }
    form {
        padding: 10px;
    }
    .card-body {
        padding: 1rem;
    }
    .center-content {
        text-align: center;
    }
    .main-center {
        min-height: calc(100vh - 150px);
    }
    .chart-container {
        overflow-x: auto;
    }
    .chart-scrollable {
        width: 200%;
    }
    .chart-scrollable canvas {
        width: 100%;
        height: 300px;
    }
    #weight-change-chart {
        min-width: 100%;
        height: 300px;
    }
}
