{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block main_classes %}
{% if not user.is_authenticated %}
center-content
{% else %}
main-center
{% endif %}
{% endblock %}

{% block content %}
    <div class="container text-center">
        {% if user.is_authenticated %}
            <h2>Welcome, {{ user.username }}!</h2>
            {% if not user.is_superuser %}
                <div class="my-4">
                    <a class="btn btn-success mb-2 d-block mx-auto" style="max-width: 300px;" href="{% url 'add_controller' %}">Добавить контроллер</a>
                    <a class="btn btn-success d-block mx-auto" style="max-width: 300px;" href="{% url 'user_controllers' %}">Мои контроллеры</a>
                </div>
            {% else %}
                <p>Вы администратор</p>
                <div class="text-center my-4">
                    <a class="btn btn-primary mx-2" href="{% url 'registration_controller' %}">Зарегистрировать новый контроллер</a>
                </div>
            {% endif %}
        {% else %}
            <h2>Пожалуйста, войдите или зарегистрируйтесь</h2>
            <div class="my-4">
                <a class="btn btn-primary mb-2 d-block mx-auto" style="max-width: 300px;" href="{% url 'login' %}">Login</a>
                <a class="btn btn-secondary d-block mx-auto" style="max-width: 300px;" href="{% url 'signup' %}">Sign Up</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
